<!DOCTYPE html>
<!--this is the templateing ejs file sample ejs-->
<meta lang="en">
<html>

<head>
    <title>sample page</title>
    <style>

    </style>
</head>

<body>
    <%- include ('partials/nav.ejs') %>
    <h1>profile page</h1>
    <p>lorem ipsum lorem ipsum</p>
    <h1>welcom <%= person%></h1>
    <strong>Age<%=data.age%><br />
        Job:<%=data.job%></strong>
    <p>
    <h1>My hobbies</h1>
    <ul> <!--itterating through values in the list in the data hobbies-->
        <% data.hobbies.forEach((item)=>{%>
        <li>
            <%=  item%>
        </li>
        <%})%>
    </ul>
    </p>
</body>

</html>